.header-container {
  align-items: center;
  background-color: rgb(10, 80, 40);
  box-shadow: 0 2px 4px black;
  display: flex;
  justify-content: space-between;
  min-height: 6vh;
  padding: 0 20px;
}

.total-container {
  align-items: baseline;
  display: flex;
}

.total-container h2 {
  font-weight: 700;
  margin: 0 5px;
}

.total-container h3 {
  font-weight: 400;
  margin: 0;
}
